<link rel="stylesheet" href="/stylesheets/welcome.scss">
<div class="welcome">
  <img src="https://tangiblewords.com/wp-content/uploads/2017/07/company-blogs-1.jpg" alt="Blog">
  <h1>Hello, visitor!</h1>
  <h4>We have great new articles to read today.</h4>
  <p>Wanna see my blog today?</p>
  <%= link_to 'See Blogs', articles_path%>
</div>
